---
import type { CollectionEntry } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import { Icon } from "astro-icon/components";
import PostPreview from "@/components/blog/PostPreview.astro";
import Pagination from "@/components/Paginator.astro";
import { getPostsByLocale, getUniqueTags, groupPostsByYear } from "@/data/post";
import { isLocale, type Locale, locales } from "@/i18n/config";
import { useTranslations } from "@/i18n/utils";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

export const getStaticPaths = (async ({ paginate }) => {
	const MAX_POSTS_PER_PAGE = 10;
	const MAX_TAGS = 7;
	const MAX_PINNED_POSTS = 3;

	const results = await Promise.all(
		locales.map(async (lang) => {
			const allPosts = await getPostsByLocale(lang);
			const allPostsByDate = allPosts.sort(collectionDateSort);
			const uniqueTags = getUniqueTags(allPosts).slice(0, MAX_TAGS);
			const pinnedPosts = allPostsByDate.filter((p) => p.data.pinned).slice(0, MAX_PINNED_POSTS);
			return paginate(allPostsByDate, {
				params: { lang },
				pageSize: MAX_POSTS_PER_PAGE,
				props: { uniqueTags, pinnedPosts, locale: lang },
			});
		}),
	);
	return results.flat();
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
	uniqueTags: string[];
	pinnedPosts: CollectionEntry<"post">[];
	locale: Locale;
}

const { page, uniqueTags, pinnedPosts, locale } = Astro.props;
if (!isLocale(locale)) throw new Error(`Invalid locale: ${locale}`);
const t = useTranslations(locale);

const meta = {
	description: t("posts.pageDescription"),
	title: t("posts.title"),
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: t("posts.prevPage"),
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: t("posts.nextPage"),
			url: page.url.next,
		},
	}),
};

const groupedByYear = groupPostsByYear(page.data);
const descYearKeys = Object.keys(groupedByYear).sort((a, b) => +b - +a);
---

<PageLayout meta={meta} locale={locale}>
	<div class="mb-12 flex items-center gap-3">
		<h1 class="title">{t("posts.title")}</h1>
		<a class="text-accent" href={`/${locale}/rss.xml`} target="_blank">
			<span class="sr-only">{t("posts.rssFeed")}</span>
			<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:rss" />
		</a>
	</div>
	<div class="grid sm:grid-cols-[3fr_1fr] sm:gap-x-8 sm:gap-y-16">
		<div>
			{
				pinnedPosts.length > 0 && (
					<section class="mb-16">
						<h2 class="title mb-6 text-xl">{t("posts.pinned")}</h2>
						<ul class="space-y-4" role="list">
							{pinnedPosts.map((p) => (
								<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
									<PostPreview post={p} locale={locale} />
								</li>
							))}
						</ul>
					</section>
				)
			}
			{
				descYearKeys.map((yearKey) => (
					<section class="mb-16">
						<h2 id={`year-${yearKey}`} class="title text-lg">
							<span class="sr-only">{t("posts.postsIn")}</span>
							{yearKey}
						</h2>
						<ul class="mt-5 space-y-4 text-start">
							{groupedByYear[yearKey]?.map((p) => (
								<li class="grid gap-1 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
									<PostPreview post={p} locale={locale} />
								</li>
							))}
						</ul>
					</section>
				))
			}
			<Pagination {...paginationProps} />
		</div>
		{
			!!uniqueTags.length && (
				<aside>
					<h2 class="title mb-4 flex items-center gap-2 text-lg">
						{t("posts.tags")}
						<svg
							aria-hidden="true"
							class="h-6 w-6"
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="1.5"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path d="M0 0h24v24H0z" fill="none" stroke="none" />
							<path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z" />
							<path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116" />
							<path d="M6 9h-.01" />
						</svg>
					</h2>
					<ul class="flex flex-wrap gap-2">
						{uniqueTags.map((tag) => (
							<li>
								<a class="cactus-link flex items-center justify-center" href={`/${locale}/tags/${tag}/`}>
									<span aria-hidden="true">#</span>
									<span class="sr-only">{t("tags.viewAllWithTag")}</span>
									{tag}
								</a>
							</li>
						))}
					</ul>
					<span class="mt-4 block sm:text-end">
						<a class="hover:text-link" href={`/${locale}/tags/`}>
							{t("posts.viewAll")} <span aria-hidden="true">→</span>
							<span class="sr-only">{t("posts.viewAllTags")}</span>
						</a>
					</span>
				</aside>
			)
		}
	</div>
</PageLayout>
