---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";
import { WORK_EXPERIENCE, EDUCATION, FEATURED } from "@data/config";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Resume</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a software developer based in Spain, with experience in web development.
    I'm passionate about technology and I love to learn new things. I'm always
    looking for new challenges and opportunities to grow as a professional. I
    work with technologies like Spring Boot, Angular, TypeScript, NestJS, PHP,
    and more.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    {
      EDUCATION.map((education) => (
        <>
          <TimeLineElement
            title={education.title}
            subtitle={education.subtitle}
          />
        </>
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    {
      WORK_EXPERIENCE.map((experience) => (
        <div class="my-4">
          <TimeLineElement
            title={experience.title}
            subtitle={experience.subtitle}
          >
            {/* TODO: Fix this */}
            <span class="block py-1">{experience.description}</span>
            <span class="block py-1">{experience.description2}</span>
            <span class="block py-1">{experience.description3}</span>
          </TimeLineElement>
        </div>
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Featured Projects</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {
      FEATURED.map((featured) => (
        <div class="my-4 flex flex-row">
          <li>
            <a href={featured.link} target="_blank" class="font-bold">
              {featured.title}:{" "}
            </a>
            {featured.description}
          </li>
        </div>
      ))
    }
  </ul>
</BaseLayout>
